node_modules/
.next/
prisma/dev.db
prisma/dev.db-journal
*.db
*.db-journal
.env
.env.local
.env.production
tsconfig.tsbuildinfo

# Electron
desktop/dist/
desktop/node_modules/
desktop/out/

# Docker
docker-data/

# Backups
backups/
